<!doctype html>
<html lang="en">
 <head>
  <title>rajeev poosa</title>
  <meta charset="utf-8">
 </head>
 <body>
{{> header}}

<form>
<table>
<tr>
  <td>Enter Username</td>
  <td><input type="text" name="username"></td>
</tr>
<tr>
  <td>Enter Password</td>
  <td><input type="password" name="password"></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><input type="submit" value="Login"></td>
</tr>




</table>




</form>






{{>footer}}
 </body>
</html>
